data/mueller-report-ocr.pdf filter=lfs diff=lfs merge=lfs -text
data/mueller-report-2019-05-06.pdf filter=lfs diff=lfs merge=lfs -text
data/barr-initial-review-2019-03-24.pdf filter=lfs diff=lfs merge=lfs -text
data/mueller-barr-letter-2019-03-27.pdf filter=lfs diff=lfs merge=lfs -text
data/steele-trump-russia-dossier-2016-12-13.pdf filter=lfs diff=lfs merge=lfs -text
data/mueller-statement-2019-05-29.mp4 filter=lfs diff=lfs merge=lfs -text
